.MainDivß
{
    color: wheat;
    color: black;
}

.OuterSearchBoxDiv
{
    background-image: linear-gradient(to right, #2F80Ed, #56CCF2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Inner
{
    margin: 0px 15px;
}

.InnerSearchBoxDiv{
    width: fit-content;
    height: fit-content;
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

.DepartureDate, .ReturnDate{
    width: 200px;
    margin: 20px;
}