.MainDivß
{
    color: wheat;
    color: black;
}

.OuterSearchBoxDiv
{
    background-image: linear-gradient(to right, #2F80Ed, #56CCF2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Inner
{
    margin: 0px 15px;
}

.NoDisplay
{
    display:None
}

.InnerSearchBoxDiv{
    width: fit-content;
    height: fit-content;
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

.SearchBsuttoßn{
    background-color: #2F80Ed;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.DepartureDate, .ReturnDate{
    width: 200px;
    margin: 20px;
}

.FlightDiv
{
    border: solid #2F80Ed 1px;
    padding: 10px;
    cursor: pointer;
}